.wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  width: 65%;
}
.wrapper-center {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-height: 80%;
}
.wrapper-center-tools {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-height: 95%;
}
.delete-test {
  background-image: url(../app/icons/icons8-trash2-50.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 23px 20px;
  width: 31px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin: -3px 0 0 10px;
}
.test-name {
  display: inline-block;
}
.paste-url-text {
  text-align: center;
  font-size: 30px;
  padding-top: 60px;
}
.go-button {
  width: 96px;
  height: 45px;
  background-color: #f181df;
  outline: inherit;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: white;
}
.mode-button {
  width: 125px;
  height: 40px;
  background-color: #c4c4c4;
  outline: inherit;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: black;
  margin-right: 10px;
}
.mode-button-findtests {
  width: 70px;
  height: 30px;
  background-color: #c4c4c4;
  outline: inherit;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: black;
  margin-right: 10px;
}
.buttons-row {
  margin-bottom: 10px;
}
.buttons-row-findtests {
  margin-top: 10px;
}
.input-url {
  width: 538px;
  height: 45px;
}
.input-url-findtests {
  width: 371px;
  height: 45px;
}
.create-button {
  width: 66px;
  height: 45px;
  background-color: #f181df;
  outline: inherit;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: white;
}
.input-group {
  padding-top: 50px;
}
.middle-text {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}
.button-icon {
  background-image: url(../app/icons/icons8-trash-50.png);
  background-color: #ff4646;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 23px 20px;
  outline: inherit;
  border: none;
  border-radius: 3px;
  height: 30px;
  width: 31px;
  cursor: pointer;
}
input::placeholder {
  text-align: center;
  color: #a1a1a1;
}
.first-tr {
  background-color: #f181df;
  color: white;
}
